* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #00272d;

    --primary: #0c7e7e;
    --secondary: #134647;

    --text: #bfac8b;
}

a {
    text-decoration: none;
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 350px;
    margin: 60px auto;
    background: var(--primary);
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    padding: 3.7px;
    border: var(--background) 5px solid;
}

h1 {
    font-size: 32px;
    color: #00082F;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082F;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

ul li a:hover {
    opacity: 0.8;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: #00082F;
    opacity: 0.6;

    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: #00082F;
}